:root {
  --primary-color: #00b207;
  --secondary-color: #2c742f;
  --primary-text-color: #1a1a1a;
  --secondary-text-color: #666666;
  --white: #ffffff;
  --error: #ea4b48;
  --warning: #ff8a00;
  --success: #00b207;
  --background-color: #f7f7f7;
  --border-color: #e6e6e6;
  
  // Font sizes
  --font-small: 0.75rem;   // 12px
  --font-medium: 0.875rem; // 14px
  --font-large: 1rem;      // 16px
  --font-xl: 1.25rem;      // 20px
  --font-xxl: 2rem;        // 32px
}
